// Importações, variáveis e estilos gerais

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: black;
}

body, button {
    font-family: 'Poppins', sans-serif;
}

h1 {
    padding: 100px;
    text-align: center;
    color: green;
}

button {
    width: 50%;
    margin-top: 10px;
    background: green;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.general {
    display: flex;
    justify-content: center;


    .container {
        text-align: center;
        background: red;
        width: 300px;
        height: 300px;
        border-radius: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .time {
            font-weight: bold;
            font-size: 25px;
            color: white;
        }

        .extras {
            display: flex;
            margin-top: 15px;
            
            button {
                border-radius: 5px;
                padding: 3px;
            }

            button + button {
                margin-left: 10px;
            }
        }

        button {
            width: 50%;
            margin-top: 10px;
            background: green;
            color: white;
            font-weight: bold;
            border: 1px solid black;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}

